
@font-face {
    font-family: 'Avenir Book';
    src: url('fonts/Avenir-Book.eot');
    src: url('fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Book.woff') format('woff'),
    url('fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
}


/* Style the header */
.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  
}

/* Left and right column */
.column.left {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 75%;
}

.column.right {
  width: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px){
  .column.left, .column.right, .column.middle{
    width: 100%;
  }
  #logo {
        max-height: 100px;
        width: 100%;
    }
}






